.iframe-container {width: 100%;
display: flex;} 

iframe {width: 80%;
aspect-ratio: 16 / 9;}

h4 {margin-bottom: 10px;}

@media only screen and (max-width: 768px) {

    p {max-width: none; width: 100%;}

    iframe {aspect-ratio: 16 / 9;}


}